.swiper-button-next {
  color: #ffba08;
}

.swiper-button-prev {
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999;
}

.swiper-pagination-bullet-active {
  background-color: #ffba08;
}
